<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Django-auth Blog</title>
  </head>
  <body>
    <h1><a href="{% url 'root' %}">Django-auth Blog</a></h1>
    {% if user.is_authenticated %}
    <a href="{% url 'profile' %}">{{ user }}'s Profile</a>
    <a href="{% url 'logout' %}?next={{ request.path }}" onclick="return confirm('정말 로그아웃을 하시겠습니까?');">로그아웃</a>
    {% else %}
    <a href="{% url 'signup' %}">회원가입</a>
    <a href="{% url 'login' %}?next={{ request.path }}">로그인</a>

    {% endif %}
    <hr>

    {% block content %}
    {% endblock %}

    <hr>
    &copy; 2018. DjangoAuth
  </body>
</html>
